<template>
  <div>
    <v-card :loading="submitted">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Automóvil</v-list-item-title>
          <v-list-item-subtitle>Agregar, editar o eliminar automóvil</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-text>
        <v-row align="center" justify="space-between">
          <v-col>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              autofocus
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-col md="auto">
            <v-btn fab color="info" small @click="addCar()">
              <v-icon>add</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-divider />
        <v-data-table
          :disable-pagination="true"
          :hide-default-footer="true"
          :headers="headers"
          :items="cars"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:item.price="{ item }">S/. {{ item.price }}</template>
          <template v-slot:item.actions="{ item }">
            <div class="text-center">
              <v-btn small fab color="info" @click="editCar(item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small fab color="error" @click="confirmDestroyCar(item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="openModal" persistent max-width="400px">
      <ValidationObserver v-slot="{ invalid }" tag="form" @submit.prevent="onSubmit()">
        <v-card>
          <v-card-title>
            <span class="headline">{{ modalTitle }}</span>
          </v-card-title>
          <v-card-text>
            <ValidationProvider rules="required|max:100" v-slot="{ errors, valid }" name="nombre">
              <v-text-field
                v-model="car.name"
                label="Nombre"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required|max:25" v-slot="{ errors, valid }" name="marca">
              <v-text-field
                v-model="car.brand"
                label="Marca"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required|max:25" v-slot="{ errors, valid }" name="modelo">
              <v-text-field
                v-model="car.model"
                label="Modelo"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required|decimal:2" v-slot="{ errors, valid }" name="precio">
              <v-text-field
                v-model="car.price"
                label="Precio"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="openModal = false">CERRAR</v-btn>
            <v-btn color="primary" type="submit" :loading="submitted" :disabled="invalid">GUARDAR</v-btn>
          </v-card-actions>
        </v-card>
      </ValidationObserver>
    </v-dialog>
    <v-dialog v-model="openModalDelete" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Eliminar</span>
        </v-card-title>
        <v-card-text class="text-center">
          <h5>¿Estás seguro de eliminar el elemento seleccionado?</h5>
          <h4>{{ car.name }}</h4>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="openModalDelete = false">NO</v-btn>
          <v-btn color="error" type="submit" :loading="submitted" @click="destroyCity()">SI</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    openModalDelete: false,
    search: "",
    openModal: false,
    modalTitle: "",
    action: null,
    cars: [],
    cities: [],
    car: {},
    headers: [
      {
        text: "Nombre",
        align: "left",
        sortable: true,
        value: "name"
      },
      {
        text: "Marca",
        align: "left",
        sortable: true,
        value: "brand"
      },
      {
        text: "Modelo",
        align: "left",
        sortable: true,
        value: "model"
      },
      {
        text: "Precio",
        align: "right",
        sortable: true,
        value: "price"
      },
      {
        text: "",
        value: "actions",
        sortable: false
      }
    ]
  }),
  created() {
    this.fetchCars();
  },
  computed: {
      ...mapGetters(['submitted'])
  },
  methods: {
    destroyCity() {
      this.$axios
        .delete(`cars/${this.car.id}/delete`)
        .then(response => {
          this.openModalDelete = false;
          this.cars = this.cars.filter(c => c.id != this.car.id);
          this.$toasted.success(response.data.message, {
            icon: {
              name: "check",
              after: true
            }
          });
        })
    },
    confirmDestroyCar(car) {
      this.car = JSON.parse(JSON.stringify(car));
      this.openModalDelete = true;
    },
    editCar(car) {
      this.car = JSON.parse(JSON.stringify(car));
      this.modalTitle = "Editar automóvil";
      this.openModal = true;
      this.action = "UPD";
    },
    onSubmit() {
      if (this.action === "ADD") {
        this.$axios
          .post("cars/store", this.car)
          .then(response => {
            this.cars.unshift(JSON.parse(JSON.stringify(response.data.car)));
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
          })
      } else {
        this.$axios
          .put(`cars/${this.car.id}/update`, this.car)
          .then(response => {
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
            this.cars = this.cars.map(c => {
              if (c.id == this.car.id) {
                return response.data.car;
              }
              return c;
            });
          })
      }
    },
    addCar() {
      this.openModal = true;
      this.modalTitle = "Agregar automóvil";
      this.car = {};
      this.action = "ADD";
    },
    fetchCars() {
      this.$axios
        .get("cars")
        .then(response => {
          this.cars = response.data.cars;
        })
    }
  }
};
</script>
