<template>
  <div>
    <v-card :loading="submitted">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Ciudades</v-list-item-title>
          <v-list-item-subtitle>Agregar, editar o eliminar cuidades</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-text>
        <v-row align="center" justify="space-between">
          <v-col>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              autofocus
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-col md="auto">
            <v-btn fab color="info" small @click="addCity()">
              <v-icon>add</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-divider />
        <v-data-table
          :disable-pagination="true"
          :hide-default-footer="true"
          :headers="headers"
          :items="cities"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:item.actions="{ item }">
            <div class="text-center">
              <v-btn small fab color="info" @click="editCity(item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small fab color="error" @click="confirmDestroyCity(item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="openModal" persistent max-width="600px">
      <ValidationObserver v-slot="{ invalid }" tag="form" @submit.prevent="onSubmit()">
        <v-card>
          <v-card-title>
            <span class="headline">{{ modalTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <ValidationProvider
                    rules="required|max:50"
                    v-slot="{ errors, valid }"
                    name="name"
                  >
                    <v-text-field
                      v-model="city.name"
                      label="Nombre"
                      :error-messages="errors"
                      :success="valid"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="openModal = false">CERRAR</v-btn>
            <v-btn color="primary" type="submit" :loading="submitted" :disabled="invalid">GUARDAR</v-btn>
          </v-card-actions>
        </v-card>
      </ValidationObserver>
    </v-dialog>
    <v-dialog v-model="openModalDelete" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Eliminar</span>
        </v-card-title>
        <v-card-text class="text-center">
          <h5>¿Estás seguro de eliminar el elemento seleccionado?</h5>
          <h4>{{ city.name }}</h4>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="openModalDelete = false">NO</v-btn>
          <v-btn color="error" type="submit" :loading="submitted" @click="destroyCity()">SI</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data: () => ({
    openModalDelete: false,
    search: "",
    openModal: false,
    modalTitle: "",
    action: null,
    city: {},
    headers: [
      {
        text: "Cuidad",
        align: "left",
        sortable: true,
        value: "name"
      },
      {
        text: "",
        value: "actions",
        sortable: false
      }
    ]
  }),
  created() {
    if (this.cities.length === 0) {
      this.fetchCities();
    }
  },
  computed: {
    ...mapGetters(["cities", "submitted"])
  },
  methods: {
    destroyCity() {
      this.$axios.delete(`cities/${this.city.id}/delete`).then(response => {
        this.openModalDelete = false;
        this.$store.dispatch(
            "DELETE_CITY",
            this.city.id
          );
        this.$toasted.success(response.data.message, {
          icon: {
            name: "check",
            after: true
          }
        });
      });
    },
    confirmDestroyCity(city) {
      this.city = JSON.parse(JSON.stringify(city));
      this.openModalDelete = true;
    },
    editCity(city) {
      this.city = JSON.parse(JSON.stringify(city));
      this.modalTitle = "Editar ciudad";
      this.openModal = true;
      this.action = "UPD";
    },
    onSubmit() {
      if (this.action === "ADD") {
        this.$axios.post("cities/store", this.city).then(response => {
          this.$store.dispatch(
            "ADD_CITY",
            JSON.parse(JSON.stringify(response.data.city))
          );
          this.openModal = false;
          this.$toasted.success(response.data.message, {
            icon: {
              name: "check",
              after: true
            }
          });
        });
      } else {
        this.$axios
          .put(`cities/${this.city.id}/update`, this.city)
          .then(response => {
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
            this.$store.dispatch(
            "EDIT_CITY",
            JSON.parse(JSON.stringify(this.city))
          );
          });
      }
    },
    addCity() {
      this.openModal = true;
      this.modalTitle = "Agregar ciudad";
      this.city = {};
      this.action = "ADD";
    },
    fetchCities() {
      this.$axios.get("cities").then(response => {
        this.$store.dispatch("SET_CITIES", response.data.cities);
      });
    }
  }
};
</script>
