<template>
  <div>
    <v-card :loading="submitted">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Clients</v-list-item-title>
          <v-list-item-subtitle>Agregar, editar o eliminar clientes</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-text>
        <v-row align="center" justify="space-between">
          <v-col>
            <v-text-field v-model="filters.fullname" label="Buscar por nombres" autofocus clearable></v-text-field>
          </v-col>
          <v-col>
            <v-text-field v-model="filters.dni" label="Buscar por DNI" clearable></v-text-field>
          </v-col>
          <v-col>
            <v-text-field v-model="filters.phone" label="Buscar por telefóno" clearable></v-text-field>
          </v-col>
          <v-col>
            <v-select
              v-model="filters.city_id"
              :items="cities"
              menu-props="auto"
              label="Buscar por ciudad"
              item-text="name"
              item-value="id"
              clearable
              placeholder="Seleccione una opción"
            ></v-select>
          </v-col>
          <v-col md="auto">
            <v-btn fab color="info" small @click="addClient()">
              <v-icon>add</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-divider />
        <v-data-table
          :disable-pagination="true"
          :hide-default-footer="true"
          :headers="headers"
          :items="clients"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:item.city="{ item }">{{ item.city.name }}</template>
          <template v-slot:item.actions="{ item }">
            <div class="text-center" style="min-width:200px;">
              <v-btn small fab color="info" @click="showClient(item)">
                <v-icon>visibility</v-icon>
              </v-btn>
              <v-btn small fab color="info" @click="editClient(item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small fab color="error" @click="confirmDestroyClient(item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="openModal" persistent max-width="450px">
      <ValidationObserver v-slot="{ invalid }" tag="form" @submit.prevent="onSubmit()">
        <v-card>
          <v-card-title>
            <span class="headline">{{ modalTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col sm="6">
                <ValidationProvider
                  rules="required|max:30"
                  v-slot="{ errors, valid }"
                  name="nombre"
                >
                  <v-text-field
                    v-model="client.name"
                    label="Nombre"
                    :error-messages="errors"
                    :success="valid"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
              <v-col sm="6">
                <ValidationProvider
                  rules="required|max:30"
                  v-slot="{ errors, valid }"
                  name="apellidos"
                >
                  <v-text-field
                    v-model="client.last_name"
                    label="Apellidos"
                    :error-messages="errors"
                    :success="valid"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
              <v-col sm="6">
                <ValidationProvider rules="required|max:8" v-slot="{ errors, valid }" name="dni">
                  <v-text-field
                    v-model="client.dni"
                    label="D.N.I."
                    :error-messages="errors"
                    :success="valid"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
              <v-col sm="6">
                <ValidationProvider rules="max:12" v-slot="{ errors, valid }" name="telefóno">
                  <v-text-field
                    v-model="client.phone"
                    label="Telefóno/Celular"
                    :error-messages="errors"
                    :success="valid"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>
            <ValidationProvider rules="required" v-slot="{ errors, valid }" name="ciudad">
              <v-select
                v-model="client.city_id"
                :items="cities"
                menu-props="auto"
                label="Ciudad"
                hide-details
                item-text="name"
                item-value="id"
                single-line
                :error-messages="errors"
                :success="valid"
              ></v-select>
            </ValidationProvider>
            <ValidationProvider
              rules="required|max:190"
              v-slot="{ errors, valid }"
              name="dirección"
            >
              <v-text-field
                v-model="client.address"
                label="Dirección"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider
              rules="required|max:190|email"
              v-slot="{ errors, valid }"
              name="e-mail"
            >
              <v-text-field
                v-model="client.email"
                label="Correo eletrónico"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="openModal = false">CERRAR</v-btn>
            <v-btn color="primary" type="submit" :loading="submitted" :disabled="invalid">GUARDAR</v-btn>
          </v-card-actions>
        </v-card>
      </ValidationObserver>
    </v-dialog>
    <v-dialog v-model="openModalDelete" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Eliminar</span>
        </v-card-title>
        <v-card-text class="text-center">
          <h5>¿Estás seguro de eliminar el elemento seleccionado?</h5>
          <h4>{{ client.name }}</h4>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="openModalDelete = false">NO</v-btn>
          <v-btn color="error" type="submit" :loading="submitted" @click="destroyClient()">SI</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { debounce } from "lodash";

export default {
  data: () => ({
    filters: {},
    openModalDelete: false,
    search: "",
    openModal: false,
    modalTitle: "",
    action: null,
    clients: [],
    client: {},
    headers: [
      {
        text: "Nombres",
        align: "left",
        sortable: true,
        value: "name"
      },
      {
        text: "Cuidad",
        align: "left",
        sortable: true,
        value: "city"
      },
      {
        text: "Dirección",
        align: "left",
        sortable: true,
        value: "address"
      },
      {
        text: "Telefóno",
        align: "left",
        sortable: true,
        value: "phone"
      },
      {
        text: "E-mail",
        align: "left",
        sortable: true,
        value: "email"
      },
      {
        text: "",
        value: "actions",
        sortable: false
      }
    ]
  }),
  created() {
    if (this.cities.length === 0) {
      this.fetchCities();
    }
    this.fetchClients();
    this.debouncer = debounce(this.debouncer, 250);
  },
  computed: {
      ...mapGetters(["submitted", "cities"])
  },
  watch: {
    filters: {
      handler: function() {
        this.debouncer.call(this);
      },
      deep: true
    }
  },
  methods: {
    debouncer() {
      this.fetchClients();
    },
    showClient(client) {},
    fetchCities() {
      this.$axios
        .get("cities")
        .then(response => {
          this.$store.dispatch("SET_CITIES", response.data.cities);
        })
    },
    destroyClient() {
      this.$axios
        .delete(`clients/${this.client.id}/delete`)
        .then(response => {
          this.openModalDelete = false;
          this.clients = this.clients.filter(c => c.id != this.client.id);
          this.$toasted.success(response.data.message, {
            icon: {
              name: "check",
              after: true
            }
          });
        })
    },
    confirmDestroyClient(client) {
      this.client = JSON.parse(JSON.stringify(client));
      this.openModalDelete = true;
    },
    editClient(client) {
      this.client = JSON.parse(JSON.stringify(client));
      this.modalTitle = "Editar cliente";
      this.openModal = true;
      this.action = "UPD";
    },
    onSubmit() {
      if (this.action === "ADD") {
        this.$axios
          .post("clients/store", this.client)
          .then(response => {
            this.clients.unshift(
              JSON.parse(JSON.stringify(response.data.client))
            );
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
          })
      } else {
        this.$axios
          .put(`clients/${this.client.id}/update`, this.client)
          .then(response => {
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
            this.clients = this.clients.map(c => {
              if (c.id == this.client.id) {
                return response.data.client;
              }
              return c;
            });
          })
      }
    },
    addClient() {
      this.openModal = true;
      this.modalTitle = "Agregar cliente";
      this.client = {};
      this.action = "ADD";
    },
    fetchClients() {
      this.$axios
        .get("clients", { params: this.filters })
        .then(response => {
          this.clients = response.data.clients;
        })
    }
  }
};
</script>
