<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-subheader class="mt-4 grey--text text--darken-1">MENU</v-subheader>
        <v-list>
          <v-list-item link :to="{ name: 'Cities' }">
            <v-list-item-icon>
              <v-icon>place</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>CIUDAD</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'Locals' }">
            <v-list-item-icon>
              <v-icon>business</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>LOCALES</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'Cars' }">
            <v-list-item-icon>
              <v-icon>directions_car</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>AUTOMÓVILES</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="{ name: 'Clients' }">
            <v-list-item-icon>
              <v-icon>perm_contact_calendar</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>CLIENTES</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link @click="logout()" :disabled="submitted">
            <v-list-item-icon>
              <v-icon>power_off</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>CERRAR SESIÓN</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left color="red" dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-icon class="mx-4">fab fa-youtube</v-icon>
      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Reto GEOR</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container>
        <v-row>
          <v-col cols="12">
            <router-view></router-view>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null
  }),
  computed: {
      ...mapGetters(['submitted'])
  },
  methods: {
    logout() {
      const data = {
        token: this.$auth.getToken()
      };
      this.$axios
        .post("auth/logout", data)
        .then(response => {
          this.$auth.destroyToken();
          this.$router.push({ name: "Login" });
        })
    }
  }
};
</script>
