<template>
  <div>
    <v-card :loading="submitted">
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Locales</v-list-item-title>
          <v-list-item-subtitle>Agregar, editar o eliminar locales</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-text>
        <v-row align="center" justify="space-between">
          <v-col>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar"
              autofocus
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-col md="auto">
            <v-btn fab color="info" small @click="addLocal()">
              <v-icon>add</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-divider />
        <v-data-table
          :disable-pagination="true"
          :hide-default-footer="true"
          :headers="headers"
          :items="locals"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:item.city="{ item }">{{ item.city.name }}</template>
          <template v-slot:item.actions="{ item }">
            <div class="text-center">
              <v-btn small fab color="info" @click="editLocal(item)">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small fab color="error" @click="confirmDestroyLocal(item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="openModal" persistent max-width="400px">
      <ValidationObserver v-slot="{ invalid }" tag="form" @submit.prevent="onSubmit()">
        <v-card>
          <v-card-title>
            <span class="headline">{{ modalTitle }}</span>
          </v-card-title>
          <v-card-text>
            <ValidationProvider rules="required|max:100" v-slot="{ errors, valid }" name="nombre">
              <v-text-field
                v-model="local.name"
                label="Nombre"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
            <ValidationProvider rules="required" v-slot="{ errors, valid }" name="ciudad">
              <v-select
                v-model="local.city_id"
                :items="cities"
                menu-props="auto"
                label="Ciudad"
                hide-details
                item-text="name"
                item-value="id"
                single-line
                :error-messages="errors"
                :success="valid"
              ></v-select>
            </ValidationProvider>
            <ValidationProvider
              rules="required|max:190"
              v-slot="{ errors, valid }"
              name="dirección"
            >
              <v-text-field
                v-model="local.address"
                label="Dirección"
                :error-messages="errors"
                :success="valid"
              ></v-text-field>
            </ValidationProvider>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="openModal = false">CERRAR</v-btn>
            <v-btn color="primary" type="submit" :loading="submitted" :disabled="invalid">GUARDAR</v-btn>
          </v-card-actions>
        </v-card>
      </ValidationObserver>
    </v-dialog>
    <v-dialog v-model="openModalDelete" persistent max-width="300px">
      <v-card>
        <v-card-title>
          <span class="headline">Eliminar</span>
        </v-card-title>
        <v-card-text class="text-center">
          <h5>¿Estás seguro de eliminar el elemento seleccionado?</h5>
          <h4>{{ local.name }}</h4>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="openModalDelete = false">NO</v-btn>
          <v-btn color="error" type="submit" :loading="submitted" @click="destroyLocal()">SI</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    openModalDelete: false,
    search: "",
    openModal: false,
    modalTitle: "",
    action: null,
    locals: [],
    local: {},
    headers: [
      {
        text: "Local",
        align: "left",
        sortable: true,
        value: "name"
      },
      {
        text: "Cuidad",
        align: "left",
        sortable: true,
        value: "city"
      },
      {
        text: "Dirección",
        align: "left",
        sortable: true,
        value: "address"
      },
      {
        text: "",
        value: "actions",
        sortable: false
      }
    ]
  }),
  computed: {
    ...mapGetters(["submitted", "cities"])
  },
  created() {
    if (this.cities.length === 0) {
      this.fetchCities();
    }
    this.fetchLocals();
  },
  methods: {
    fetchCities() {
      this.$axios.get("cities").then(response => {
        this.$store.dispatch("SET_CITIES", response.data.cities);
      });
    },
    destroyLocal() {
      this.$axios.delete(`locals/${this.local.id}/delete`).then(response => {
        this.openModalDelete = false;
        this.locals = this.locals.filter(c => c.id != this.local.id);
        this.$toasted.success(response.data.message, {
          icon: {
            name: "check",
            after: true
          }
        });
      });
    },
    confirmDestroyLocal(local) {
      this.local = JSON.parse(JSON.stringify(local));
      this.openModalDelete = true;
    },
    editLocal(local) {
      this.local = JSON.parse(JSON.stringify(local));
      this.modalTitle = "Editar local";
      this.openModal = true;
      this.action = "UPD";
    },
    onSubmit() {
      if (this.action === "ADD") {
        this.$axios.post("locals/store", this.local).then(response => {
          this.locals.unshift(JSON.parse(JSON.stringify(response.data.local)));
          this.openModal = false;
          this.$toasted.success(response.data.message, {
            icon: {
              name: "check",
              after: true
            }
          });
        });
      } else {
        this.$axios
          .put(`locals/${this.local.id}/update`, this.local)
          .then(response => {
            this.openModal = false;
            this.$toasted.success(response.data.message, {
              icon: {
                name: "check",
                after: true
              }
            });
            this.locals = this.locals.map(c => {
              if (c.id == this.local.id) {
                return response.data.local;
              }
              return c;
            });
          });
      }
    },
    addLocal() {
      this.openModal = true;
      this.modalTitle = "Agregar local";
      this.local = {};
      this.action = "ADD";
    },
    fetchLocals() {
      this.$axios.get("locals").then(response => {
        this.locals = response.data.locals;
      });
    }
  }
};
</script>
