<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-spacer></v-spacer>
                <v-toolbar-title>LOGIN</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <ValidationObserver v-slot="{ invalid }" tag="form" @submit.prevent="login()">
                  <ValidationProvider
                    rules="required|email"
                    v-slot="{ errors, valid }"
                    name="email"
                  >
                    <v-text-field
                      label="Usuario"
                      prepend-icon="person"
                      type="email"
                      placeholder="example@mail.com"
                      autofocus
                      v-model="user.email"
                      :error-messages="errors"
                      :success="valid"
                    />
                  </ValidationProvider>
                  <ValidationProvider
                    rules="required|min:6"
                    v-slot="{ errors, valid }"
                    name="contraseña"
                  >
                    <v-text-field
                      id="password"
                      :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                      label="Contraseña"
                      name="password"
                      prepend-icon="lock"
                      :type="showPassword ? 'text' : 'password'"
                      min="6"
                      :error-messages="errors"
                      :success="valid"
                      v-model="user.password"
                      @click:append="showPassword = !showPassword"
                    />
                  </ValidationProvider>
                  <v-btn
                    x-large
                    block
                    type="submit"
                    :disabled="invalid"
                    color="primary"
                    :loading="submitted"
                  >INICIAR SESIÓN</v-btn>
                </ValidationObserver>
              </v-card-text>
              <v-card-actions></v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    user: {
      email: "admin@reto.com",
      password: "secret"
    },
    showPassword: false
  }),
  created() {
    if (this.$auth.isAuthenticated()) {
      this.$router.push({ name: "Dashboard" });
    }
  },
  methods: {
    login() {
      this.$axios
        .post("auth/login", this.user)
        .then(response => {
          const data = response.data;
          const token = data.token;
          const user = {
            id: data.user.id,
            email: data.user.email,
            name: data.user.name
          };
          this.$auth.setToken(token, user, data.expires_in);
          this.$axios.defaults.headers.common["Authorization"] = token;
          this.$router.push({ name: "Dashboard" });
        })
    }
  }
};
</script>
